<div class="max-w-sm mx-auto py-6">
  <div id="comments" class="space-y-2">
    <%= render @comments %>
  </div>
  <div class="flex justify-center" id="load_more_button">
    <%= render "comments/load_more_button" %>
  </div>
</div>
